extends ../layout

block content
	link(rel='stylesheet', href='/ckeditor_4.5.8/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css')
	script(src='/ckeditor_4.5.8/plugins/codesnippet/lib/highlight/highlight.pack.js')
	script.
		hljs.initHighlightingOnLoad();
	div!=blog