extends ../layoutMng

block content
	link(rel='stylesheet', href='/ckeditor_4.6.0/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css')
	script(src='/ckeditor_4.6.0/plugins/codesnippet/lib/highlight/highlight.pack.js')
	script.
		hljs.initHighlightingOnLoad();
	h1.blogTitle=blog.title
	.div_center
		span=blog.author
		span.author=moment(blog.date).add(13,"hours").format('YYYY-MM-DD HH:mm:ss')
	div!=blog.body