extends ../layoutMng

block content
	link(rel='stylesheet', href='/ckeditor_4.5.8/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css')
	script(src='/ckeditor_4.5.8/plugins/codesnippet/lib/highlight/highlight.pack.js')
	script.
		hljs.initHighlightingOnLoad();
	h1.blogTitle=blog.title
	.div_center
		span=blog.author
		span.author=moment(blog.date).format('YYYY-MM-DD hh:mm:ss')
	div!=blog.body