doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		form( action="/manage/login",method="post")
			.login
				.row
					label(for="username") UserName:
					input(type="text",name="username",id="username")
				.row
					label(for="pwd") Password:
					input(type="password",name="Password",id="Password")
				.row
					input(type="submit",value="登录")