extends layout

block content
	<div id="content">
		<p style="text-indent:2em;">这是我的个人博客，本人目前在深圳从事.net(c#)开发。</p>
		<p style="text-indent:2em;">此网站是用的nodejs开发的，部署于linux服务器上。目前暂时没有开发留言功能，有兴趣的朋友可以邮件联系我villagearcher@qq.com，大家一起学习。</p>
	</div>
