extends layout

block content
	<div id="content">
		<p style="text-indent:2em;">这是我的个人博客，本人目前在深圳从事.net(c#)开发。此网站是用的nodejs开发的，部署于linux服务器上。目前暂时没有开发留言功能，有兴趣的朋友可以邮件联系我，大家一起学习。</p>
		<p style="text-indent:2em;">这里的文章都是从我的印象笔记整理来的。多年来一直都是使用印象笔记来记录学习的点滴，以及遇到的问题和解决办法。我会抽时间把能够形成知识块的内容整理到网站上来，一方面是为我自己梳理知识，同时也可以将这些知识分享给更多渴望学习的人。</p>
		<p>Email:<a style='margin-left:20px;' href="mailto:villagearcher@qq.com">villagearcher@qq.com</a></p>
		<p>StackOverflow:<a style='margin-left:20px;' href="http://stackoverflow.com/users/2998405/york">york</a></p>
		<p>Github:<a style='margin-left:20px;' href="https://github.com/york9527">york9527</a></p>
		<hr/>
		
		<p>好友博客:<a style='margin-left:20px;' target="_blank" href="http://Lcomplete.github.io">lcomplete's Blog</a></p>
		<p>好友网站:<a style='margin-left:20px;' target="_blank" href="http://coderinfo.com">程序员信息盒子</a></p>

	</div>