extends layout

block content
	<div id="content">
		<div id="main">
			<div id="welcome">
				<h2>Welcome to AtomoHost!</h2>
				<p><strong>AtomoHost</strong> is a free template from Free CSS Templates released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo is from PDPhoto.org. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
				<p>An unordered list example:</p>
				<ul>
					<li>List item number one</li>
					<li>List item number two</li>
					<li>List item number three</li>
				</ul>
			</div>
			<div id="example">
				<h2>A Few Examples of Common Tags</h2>
				<p>This is an example of a paragraph followed by a blockquote. In posuere  eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula.  Pellentesque viverra vulputate enim. Aliquam erat volutpat lorem ipsum  dolorem.</p>
				<blockquote>
					<p>Pellentesque tristique ante ut  risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum  id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec  placerat odio</p>
				</blockquote>
				<h3>Heading Level Three</h3>
				<p>This is another example of a paragraph followed by an unordered list. In posuere  eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula.  Viverra vulputate enim. Aliquam erat volutpat lorem ipsum  dolorem.</p>
				<p>An ordered list example:</p>
				<ol>
					<li>List item number one</li>
					<li>List item number two</li>
					<li>List item number thre</li>
				</ol>
			</div>
		</div>
		<div id="sidebar">
			<div id="login" class="boxed">
				<h2 class="title">Client Account</h2>
				<div class="content">
					<form id="form1" method="post" action="#">
						<fieldset>
							<legend>Sign-In</legend>
							<label for="inputtext1">Client ID:</label>
							<input id="inputtext1" type="text" name="inputtext1" value="" />
							<label for="inputtext2">Password:</label>
							<input id="inputtext2" type="password" name="inputtext2" value="" />
							<input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
							<p><a href="#">Forgot your password?</a></p>
						</fieldset>
					</form>
				</div>
			</div>
			#updates.boxed
				<h2 class="title">Recent Updates</h2>
				.content
					ul
						each val,index in blogs
							li
								h3=moment(val.date).format('YYYY-MM-DD')
								p
									a(href="")=val.title
		//
			<div id="partners" class="boxed">
				<h2 class="title">Partners</h2>
				<div class="content">
					<ul>
						<li><a href="#">Donec Dictum Metus</a></li>
						<li><a href="#">Etiam Rhoncus Volutpat</a></li>
						<li><a href="#">Integer Gravida Nibh</a></li>
						<li><a href="#">Maecenas Luctus Lectus</a></li>
						<li><a href="#">Mauris Vulputate Dolor</a></li>
						<li><a href="#">Nulla Luctus Eleifend</a></li>
						<li><a href="#">Posuere Augue Sit Nisl</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<p id="legal">Copyright &copy; 2016 www.coderyu.com</p>
	//
		<p id="links"><a href="#">Home</a> | <a href="#">Terms of Use</a></p>
	</div>