doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap-3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/default.css')
		script(src='/jquery/jquery-1.12.3.min.js')
	body
		.content-wrapper
			<div id="header">
				<div id="topmenu" style="margin-top: 100px;color: #FFFFFF;font-size: 12px;">
						<p></p>
				</div>
				<div id="logo">
				<h1><a href="/">coderyu.com</a></h1>
				<h2><a href="/"></a></h2>
				</div>
			</div>
			<div id="menu">
				<ul>
					<li class="first"><a href="/about">关于我</a></li>
					//<li><a href="#"></a></li>
					//<li><a href="#"></a></li>
					//<li><a href="#"></a></li>
					//<li><a href="#"></a></li>
				</ul>
			</div>
			block content