doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap-3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/default.css')
		script(src='/jquery/jquery-1.12.3.min.js')
	body
		.content-wrapper
			<div id="header">
				<div id="topmenu">
					<ul>
						<li><a href="#" id="topmenu1" accesskey="1">首页</a></li>
						<li><a href="#" id="topmenu2" accesskey="3">地图</a></li>
						<li><a href="#" id="topmenu3" accesskey="2">联系</a></li>
					</ul>
				</div>
				<div id="logo">
				<h1><a href="/">coderyu.com</a></h1>
				<h2><a href="/">coding</a></h2>
				</div>
			</div>
				#menu
					ul
						<li class="first"><a href="/manage">博客列表</a></li>
						<li><a href="/manage/blogtype">博客类型</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Clients</a></li>
						<li><a href="#">Support</a></li>

			.contentMng
				block content