extends layoutMng

block content
	.login-wrapper
		form( action="/login",method="post").form-horizontal
			.form-group
				label(for='username',class='col-sm-3 control-label') Account：
				.col-sm-9
					input(type='text',class='form-control',id='username',name='username',placeholder='Account')
			.form-group
				label(for='password',class='col-sm-3 control-label') Password：
				.col-sm-9
					input(type='password',class='form-control',id='password',name='password',placeholder='Password')
			.form-group
				.col-sm-offset-3.col-sm-9
					button(type='submit',class='btn btn-primary w100') Log In
	script.
		$(function(){
			$("#username").focus();
		});