body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.content-wrapper {
  margin: auto;
  width: 1200px;
}
div.with-border {
  border: 1px solid #ccc;
  border-radius: 5px;
}
div.login-wrapper {
  margin: auto;
  width: 450px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px 50px 30px 30px;
}
div.login-wrapper .btn-login {
  width: 100px;
}
div.create-blog-warpper {
  width: 1024px;
  margin-top: 20px;
  margin: auto;
}
div.create-blog-warpper label {
  padding-left: 0;
}
div.blog-type-wrapper {
  border-radius: 5px;
  width: 1200px;
  padding: 20px 20px 0 20px;
  margin-top: 10px;
}
div.blog-type-create {
  margin-top: 20px;
  width: 600px;
  padding: 20px;
}
caption {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  background-color: #d3d3d3;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}
div.buttons_wrapper {
  text-align: right;
}
div.div_center {
  text-align: center;
  margin-bottom: 30px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px !important;
}
.w50 {
  width: 50px;
}
.mr30 {
  margin-right: 30px;
}
.ml5 {
  margin-left: 5px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.h90 {
  height: 90px !important;
}
.deleted {
  color: #f00;
}
.label-wrapper {
  margin-right: 30px;
  padding: 0;
}
.form-inline label {
  margin-right: 5px !important;
}
.blog-type-wrapper.with-border th,
.blog-type-wrapper.with-border th a {
  color: #808080;
  font-size: 14px;
}
.color-grey {
  color: #999;
}
.blogBody-truncate-homePage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-summary {
  text-indent: 2em;
  color: #999;
}
.blog-summary:hover {
  color: #ce0000;
  text-decoration: underline;
}
.blogDetail-wrapper {
  width: 700px;
  margin: auto;
  padding: 40px 0 20px 0;
}
h1.blogTitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}
.form-inline-left {
  width: 50%;
  display: inline-block;
  padding-right: 5px;
}
.form-inline-right {
  width: 50%;
  display: inline-block;
  padding-left: 5px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 8px 3px 8px 3px;
}
