body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.login-wrapper {
  margin: auto;
  width: 450px;
  margin-top: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 50px 50px 30px 30px;
}
div.login-wrapper .btn-login {
  width: 100px;
}
.w100 {
  width: 100px;
}
