body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.login {
  margin: auto;
  width: 300px;
  margin-top: 300px;
}
div.login .row {
  margin: 10px;
}
div.login .row label {
  width: 80px;
  display: inline-block;
}
div.login .row input[type='submit'] {
  width: 100px;
  height: 30px;
  margin-left: 80px;
}
